<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.StyleMapper">
  <resultMap id="BaseResultMap" type="com.xiaoshu.entity.Style">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
  </resultMap>
  <select id="queryIdBySname" parameterType="string" resultType="Integer">
    SELECT id FROM style WHERE sname=#{sname}
  </select>
</mapper>